<a href="https://colab.research.google.com/github/suraj-safi1/Teaching-data/blob/main/9A_13_01_2022_and_14_01_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST

In [ ]:
list=['manali','naman','abhishek','adnan','arman','rihan','sapna','anjana','naveen']
list

['manali',
 'naman',
 'abhishek',
 'adnan',
 'arman',
 'rihan',
 'sapna',
 'anjana',
 'naveen']

In [ ]:
print(list)

['manali', 'naman', 'abhishek', 'adnan', 'arman', 'rihan', 'sapna', 'anjana', 'naveen']

list *slicing*
['manali', 'naman', 'abhishek', 'adnan', 'arman', 'rihan', 
   0         1         2          3       4         5
   -9       -8      -7           -6         -5         -4   
'sapna', 'anjana', 'naveen']
6               7      8
  -3          -2         -1

  list[0:6] 6-> exclude(6-1=5)
       include

In [ ]:
list[0:6]

['manali', 'naman', 'abhishek', 'adnan', 'arman', 'rihan']

In [ ]:
list[0:7]

['manali', 'naman', 'abhishek', 'adnan', 'arman', 'rihan', 'sapna']

In [ ]:
list[-1]

'naveen'

In [ ]:
list[0:]

['manali',
 'naman',
 'abhishek',
 'adnan',
 'arman',
 'rihan',
 'sapna',
 'anjana',
 'naveen']

In [ ]:
list[0:9:2]

['manali', 'abhishek', 'arman', 'sapna', 'naveen']

In [ ]:
list.sort()#it arrange the list in ascending order
print(list)

['abhishek', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna']

In [ ]:
list.reverse()#it reverse the entire list
print(list)

['sapna', 'rihan', 'naveen', 'naman', 'manali', 'arman', 'anjana', 'adnan', 'abhishek']

In [ ]:
list.sort()#it arrange the list in ascending order
print(list)

['abhishek', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna']

In [ ]:
list.append("Rahul") #append is a function that is used to add item at last
print(list)

['abhishek', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna', 'Rahul']

In [ ]:
list.insert(1,'navneet')#insert is a function to add item on particular index
print(list)

['abhishek', 'navneet', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna', 'Rahul']

In [ ]:
list.pop()#it removes item from last
print(list)

['abhishek', 'navneet', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna']

In [ ]:
list.pop(1)#it removes particular item from that index
print(list)

['abhishek', 'adnan', 'anjana', 'arman', 'manali', 'naman', 'naveen', 'rihan', 'sapna']

Tuple-no change

In [ ]:
t=(1,2,3,4,5,6)
t[0]=7

TypeError: ignored

In [ ]:
print(t)

Dictionay - contains diffrent types of data
keys-value
append- meaning

In [ ]:
dict1={"Name":['abhishek', 'adnan', 'anjana', 'arman'],
"percent":[55,60,70,56],
"Fav_Sub":['maths','english','science','hindi']}

In [ ]:
print(dict1)

{'Name': "['abhishek', 'adnan', 'anjana', 'arman']", 'percent': '[55,60,70,56]', 'Fav_Sub': "['maths','english','science','hindi']"}

In [ ]:
print(dict1.keys())

dict_keys(['Name', 'percent', 'Fav_Sub'])

In [ ]:
print(dict1.values())

dict_values(["['abhishek', 'adnan', 'anjana', 'arman']", '[55,60,70,56]', "['maths','english','science','hindi']"])

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
dict = { "name":['anu', 'ananya', 'anshika', 'kareena', 'nitin', 'priya', 'sumit', 'vineet'],
"percent":[60,65,55,55,45,56,48,69],
"hobbies":['singing','online game','reading','playing','reading','cricket','writting','reading']
}

In [ ]:
df=pd.DataFrame(dict)

In [ ]:
df.head() # it is used to fedtch 5 top rows of data frame

      name  percent      hobbies
0      anu       60      singing
1   ananya       65  online game
2  anshika       55      reading
3  kareena       55      playing
4    nitin       45      reading

In [ ]:
df.tail() # it is used to fedtch 5 bottom rows of data frame

      name  percent   hobbies
3  kareena       55   playing
4    nitin       45   reading
5    priya       56   cricket
6    sumit       48  writting
7   vineet       69   reading

In [ ]:
df.head(7)

      name  percent      hobbies
0      anu       60      singing
1   ananya       65  online game
2  anshika       55      reading
3  kareena       55      playing
4    nitin       45      reading
5    priya       56      cricket
6    sumit       48     writting

In [ ]:
x=1
while x<=100:
  if (x%2!=0):
    print(f'{x} is odd')
  x=x+1

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd
21 is odd
23 is odd
25 is odd
27 is odd
29 is odd
31 is odd
33 is odd
35 is odd
37 is odd
39 is odd
41 is odd
43 is odd
45 is odd
47 is odd
49 is odd
51 is odd
53 is odd
55 is odd
57 is odd
59 is odd
61 is odd
63 is odd
65 is odd
67 is odd
69 is odd
71 is odd
73 is odd
75 is odd
77 is odd
79 is odd
81 is odd
83 is odd
85 is odd
87 is odd
89 is odd
91 is odd
93 is odd
95 is odd
97 is odd
99 is odd

In [ ]:
x=1
while x<=100:
  if (x%2==0):
    print(f'{x} is even')
  x=x+1

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even
22 is even
24 is even
26 is even
28 is even
30 is even
32 is even
34 is even
36 is even
38 is even
40 is even
42 is even
44 is even
46 is even
48 is even
50 is even
52 is even
54 is even
56 is even
58 is even
60 is even
62 is even
64 is even
66 is even
68 is even
70 is even
72 is even
74 is even
76 is even
78 is even
80 is even
82 is even
84 is even
86 is even
88 is even
90 is even
92 is even
94 is even
96 is even
98 is even
100 is even

to print even number using while loop till 100