<a href="https://colab.research.google.com/github/suraj-safi1/Teaching-data/blob/main/CLASS9A_10_01_2022_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONDITIONAL STATEMENT AND LOOP

CONDITION 
1 IF
2 IF ELSE
3 IF ELIF
4 NESTED IF

In [ ]:
if 1>7:
  print("greater")
else:
  print('not greater')

not greater

In [ ]:
a = 9
b = 13
if a>b:
  print("a is greater")
else: 
  print("b is greater")

b is greater

In [ ]:
pip install tkinter

ERROR: Could not find a version that satisfies the requirement tkinter (from versions: none)
ERROR: No matching distribution found for tkinter

In [ ]:
import tkinter as tk
#print(tk)

<module 'tkinter' from '/usr/lib/python3.7/tkinter/__init__.py'>

In [ ]:
a = int(input("Enter first number "))
b = int(input("Enter second number "))
if a>b:
  print(f"{a} is greater than {b}")
else: 
  print(f"{b} is greater than  {a}")

Enter first number 78
Enter second number 99
99 is greater than  78

In [ ]:
a = int(input("Enter first number "))
b = int(input("Enter second number "))
c = int(input("Enter third number "))
if a>b:
  if a>c:
    print(f"{a} is greatest from {b} and {c}")
if b>c:
  if b>a:
    print(f"{b} is greatest from {a} and {c}")
else:
  print(f"{c} is greatest from {a} and {b}")

Enter first number 56
Enter second number 43
Enter third number 78
78 is greatest from 56 and 43

f string- it is used to represent integer vaLUE AS STRING IN OUTPUT CONSOLE.

> Indented block

In [ ]:
a=int(input("Enter a number"))
if a%2==0:
  print(f"{a} is even")
elif a%2!=0:
  print(f"{a} is odd")
else:
  print("Please insert valid number")

Enter a number78
78 is even

loop 
1-while
2-for

In [ ]:
a=1
while a<101:
    if (a%2==0):
      print(f"{a} is even")
    else:
      print(f"{a} is odd")
    a=a+1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [ ]:
a= int(input("enter a number"))
i=2
prime=True
while i<a:
          if a%i==0:
              prime=False
          i=i+1
if prime:
  print(f'{a} is prime')
else: 
  print(f'{a} is not prime')

enter a number66
66 is not prime

In [ ]:
a=0
while a<=100:
  print(a)
  a=a+1

In [ ]:
a=1
while a<100:
  if a%5==0:
    print(a)
  a=a+1

In [ ]:
a=int(input("Enter Number to print table"))
i=1
while i<11:
  print(f'{a} X {i} = {a *i}')
  i=i+1

Enter Number to print table17
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170